services:
  ani-rss:
    image: wushuo894/ani-rss:latest
    container_name: ani-rss
    environment:
      - PORT=7789
      - CONFIG=/config
      - TZ=Asia/Kuala_Lumpur
    volumes:
      - /home/admin/Applications/ani-rss:/config
      - /home/admin/Downloads/ani-rss:/Media
    restart: always
    network_mode: host
